<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me! I'm a baller who happens to be a shot caller.</p>
    </body>
</html>